.parent {
    position: relative;
    top: 0;
    left: 0;
  }
.homeBackground{
    background-size: cover ;
    min-height: 100vh;
    position: relative;
    color: whitesmoke;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    background-repeat: no-repeat;
    background-color: #000000;
    top: 0;
    left: 0;
    z-index: -2;
    
}
.scrollBackground{
    background-size: cover ;
    min-height: 100vh;
    position: relative;
    color: whitesmoke;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2); 
    top: 0;
    left: 0;   
    
}
.bg-text {
    
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    position: fixed;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: 'nameFont';
    src: url(fonts/Merriweather-Regular.ttf);
}


.image1 {
    position: relative;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-size: cover;
    position: relative;
}

.title {
    z-index: -1;

    font: 30px Didot, 'nameFont';
    text-align: center;
    position:relative;
    top:300px;


}


.skills {
    background-color: rgb(10, 0, 20);
    color: whitesmoke;
    z-index: 5;

}

#services{
    padding: 30px 0;
}
.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;

    background-image: linear-gradient(40deg, #004e50, #004e92, #4A00E0, #004e92); 
    background-size: 300% ;
    background-position: left;
    
    transition: 700ms background-position ease-in-out, transform 1s;
    
}
.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    transform: translateY(-10px);
    background-position: right;
   
  }

.services-list div a:hover{
    color: blue;

}

@media (max-width: 768px) {
    .homeBackground{
        min-height: 80vh;
    
    }
    .name {
        font-size: calc(1.525rem + 3.3vw) ;
    }

}
